[Unit]
Description=My Node.js Web Application
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/user/
Restart=on-failure
User=csye6225
Environment=DB_HOST=localhost
Environment=DB_USER=root
Environment=DB_PASSWORD=Reset@123
Environment=DB_NAME=cloud_computing
ExecStart=/usr/bin/node /home/user/app.js

[Install]
WantedBy=multi-user.target
